import %workspace%/tools/preset.bazelrc
try-import %workspace%/tools/java17.bazelrc

### YOUR PROJECT SPECIFIC OPTIONS GO HERE ###

startup --quiet

# Disable skymeld; see https://github.com/bazelbuild/bazel/issues/23743
# fixes src/main/tools/process-wrapper-legacy.cc:80: "execvp(external/++toolchains+coreutils_linux_amd64/coreutils, ...)": No such file or directory
common --noexperimental_merged_skyframe_analysis_execution

# also see: https://blog.aspect.build/configuring-bazels-downloader
common --downloader_config=tools/downloader.cfg

{{- if .Computed.javascript }}
# for speed, passes an argument `--skipLibCheck` to *every* spawn of tsc
common --@aspect_rules_ts//ts:skipLibCheck=always
# use `tsc` for transpiling, even though it's slow.
# TODO(alex): change to SWC by default
common --@aspect_rules_ts//ts:default_to_tsc_transpiler
{{ end }}

# rules_python is working to enable this default to avoid dependency on a system interpreter
# See https://github.com/bazel-contrib/rules_python/issues/3187
# NB: some tools run py_binary targets even if the user didn't select to add Python to their project
common --@rules_python//python/config_settings:bootstrap_impl=script

{{- if .Scaffold.proto }}
common --@protobuf//bazel/toolchains:prefer_prebuilt_protoc
# TODO: remove for Bazel 9 final
common --incompatible_enable_proto_toolchain_resolution
{{- end }}
{{- if .Scaffold.stamp }}
# To stamp release builds, run with
# --config=release
common:release --stamp --workspace_status_command=./tools/workspace_status.sh
{{ end }}

{{- if .Scaffold.lint }}
common --workspace_status_command=githooks/check-config.sh
{{ if .Computed.shell -}}
common:lint --aspects=//tools/lint:linters.bzl%shellcheck
{{- end }}
{{ if .Computed.javascript -}}
common:lint --aspects=//tools/lint:linters.bzl%eslint
{{- end }}
{{ if .Computed.python -}}
common:lint --aspects=//tools/lint:linters.bzl%ruff
common:lint --aspects=//tools/lint:linters.bzl%ty
{{- end }}
{{ if .Computed.cpp -}}
common:lint --aspects=//tools/lint:linters.bzl%clang_tidy
{{- end }}
{{ if .Computed.kotlin -}}
common:lint --aspects=//tools/lint:linters.bzl%ktlint
{{- end }}
{{ if .Computed.java -}}
common:lint --aspects=//tools/lint:linters.bzl%pmd
{{- end }}
{{- end }}
# Load any settings & overrides specific to the current user from `.aspect/bazelrc/user.bazelrc`.
# This file should appear in `.gitignore` so that settings are not shared with team members. This
# should be last statement in this config so the user configuration is able to overwrite flags from
# this file. See https://bazel.build/configure/best-practices#bazelrc-file.
try-import %workspace%/user.bazelrc
