import %workspace%/tools/preset.bazelrc

### YOUR PROJECT SPECIFIC OPTIONS GO HERE ###

# Disable skymeld; see https://github.com/bazelbuild/bazel/issues/23743
# fixes src/main/tools/process-wrapper-legacy.cc:80: "execvp(external/aspect_bazel_lib++toolchains+coreutils_linux_amd64/coreutils, ...)": No such file or directory
common --noexperimental_merged_skyframe_analysis_execution

{{- if .Computed.javascript }}
# for speed, passes an argument `--skipLibCheck` to *every* spawn of tsc
common --@aspect_rules_ts//ts:skipLibCheck=always
# use `tsc` for transpiling, even though it's slow.
# TODO(alex): change to SWC by default
common --@aspect_rules_ts//ts:default_to_tsc_transpiler
{{ end }}

{{- if .Scaffold.stamp }}
# To stamp release builds, run with
# --config=release
common:release --stamp --workspace_status_command=./tools/workspace_status.sh
{{ end }}

# Load any settings & overrides specific to the current user from `.aspect/bazelrc/user.bazelrc`.
# This file should appear in `.gitignore` so that settings are not shared with team members. This
# should be last statement in this config so the user configuration is able to overwrite flags from
# this file. See https://bazel.build/configure/best-practices#bazelrc-file.
try-import %workspace%/user.bazelrc
