# For orion gazelle extension
# Note: for direnv, $PWD is always the directory of the .envrc
export ORION_EXTENSIONS_DIR=$PWD/.aspect/gazelle/

# for bazel_env.bzl:
watch_file bazel-out/bazel_env-opt/bin/tools/bazel_env/bin
PATH_add bazel-out/bazel_env-opt/bin/tools/bazel_env/bin
if [[ ! -d bazel-out/bazel_env-opt/bin/tools/bazel_env/bin ]]; then
  log_error "ERROR[bazel_env.bzl]: Run 'bazel run //tools:bazel_env' to regenerate bazel-out/bazel_env-opt/bin/tools/bazel_env/bin"
fi
