# User-specific settings file for this repo
.aspect/bazelrc/user.bazelrc

# Don't check in lockfile for now. It is unstable.
# https://github.com/bazelbuild/bazel/issues/19026
# https://github.com/bazelbuild/bazel/issues/19621
# https://github.com/bazelbuild/bazel/issues/19971
# https://github.com/bazelbuild/bazel/issues/20272
# https://github.com/bazelbuild/bazel/issues/20369
MODULE.bazel.lock

# Symlinks created by Bazel into the output tree
/bazel-*

{{ if .Computed.javascript }}
node_modules/
{{ end }}
