# An example unpinned dependency.
# Note that pip-compile will ensure the resolved versions of
# direct and indirect dependencies are pinned.
# Therefore we only need to constrain versions in this file when some ranges 
# of dependency versions are not compatible.
protobuf
