on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:        
    test:
        strategy:
            matrix:
                preset:
                    - kitchen-sink
                    - java
                    - js
                    - go
                    - py
                    - cpp
                    - minimal
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-go@v5
              with:
                go-version: '>=1.22'
            - uses: bazel-contrib/setup-bazel@0.8.5
              with:
                bazelisk-cache: true
                repository-cache: true 
            - run: go install github.com/hay-kot/scaffold@v0.0.99
            - name: Scaffold new app
              id: scaffold
              run: |
                scaffold new --preset=${{ matrix.preset }} --no-prompt $GITHUB_WORKSPACE
                cd scaffold_test*
                git init
                git add .
                git config user.email "noreply@aspect.build"
                git config user.name "No One"
                git commit -a -m "initial commit"
                echo "::set-output name=dir::$PWD"

            - run: bazel test ...
              working-directory: "${{ steps.scaffold.outputs.dir }}"
              
            - run: bazel run format
              working-directory: "${{ steps.scaffold.outputs.dir }}"
              if: "${{ matrix.preset != 'minimal' }}"

            - name: format made no changes
              working-directory: "${{ steps.scaffold.outputs.dir }}"
              run: git diff --exit-code
              
            - run: bazel run @rules_go//go mod tidy
              working-directory: "${{ steps.scaffold.outputs.dir }}"
              if: "${{ matrix.preset == 'go' }}"
              
            - run: |
                bazel build --build_runfile_links @pnpm
                ./tools/pnpm list
              working-directory: "${{ steps.scaffold.outputs.dir }}"
              if: "${{ matrix.preset == 'js' }}"

            - run: bazel lint ...
              working-directory: "${{ steps.scaffold.outputs.dir }}"

    # For branch protection settings, this job provides a "stable" name that can be used to gate PR merges
    # on "all matrix jobs were successful".
    conclusion:
      needs: test
      runs-on: ubuntu-latest
      if: always()
      steps:
        - uses: technote-space/workflow-conclusion-action@45ce8e0eb155657ab8ccf346ade734257fd196a5 # v3.0.3

        # Note: possible conclusion values:
        # https://github.com/technote-space/workflow-conclusion-action/blob/main/src/constant.ts
        - name: report success
          if: ${{ env.WORKFLOW_CONCLUSION == 'success' }}
          working-directory: /tmp
          run: echo ${{ env.WORKFLOW_CONCLUSION }} && exit 0

        - name: report failure
          if: ${{ env.WORKFLOW_CONCLUSION == 'failure' }}
          working-directory: /tmp
          run: echo ${{ env.WORKFLOW_CONCLUSION }} && exit 1