on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:        
    test:
        strategy:
            matrix:
                scaffold-version:
                    - v0.6.1
                    - v0.12.1
                preset:
                    - cpp
                    - go
                    - java
                    - kotlin
                    - js
                    - minimal
                    - py
                    - kitchen-sink
                    - rust
                    - ruby
                    - shell
                    - scala
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Install Bazel
              uses: bazel-contrib/setup-bazel@0.18.0
              with:
                bazelisk-cache: true
                repository-cache: true
                bazelrc: |
                  common --announce_rc --color=yes --curses=yes
                  common --show_progress_rate_limit=60 --show_timestamps
            - name: Install scaffold
              uses: jaxxstorm/action-install-gh-release@6096f2a2bbfee498ced520b6922ac2c06e990ed2 # v2.1.0
              with:
                repo: hay-kot/scaffold
                tag: ${{ matrix.scaffold-version }}
            - name: Install direnv
              run: |
                    sudo apt-get install -y direnv
                    eval "$(direnv hook bash)"
            - name: setting to always run hooks
              if: "${{ matrix.preset != 'minimal' }}"
              run: echo "SCAFFOLD_SETTINGS_RUN_HOOKS=always" >> "$GITHUB_ENV"

            - name: Scaffold new app
              id: scaffold
              run: |
                scaffold new --preset=${{ matrix.preset }} --no-prompt $GITHUB_WORKSPACE
                cd scaffold_test*
                git init
                git add .
                git config user.email "noreply@aspect.build"
                git config user.name "No One"
                git commit -a -m "initial commit"
                git show
                echo "dir=$PWD" >> $GITHUB_OUTPUT

            - name: setup direnv
              working-directory: "${{ steps.scaffold.outputs.dir }}"
              run: |
                  direnv allow .
                  eval "$(direnv export bash)"
                  # GHA steps run as non-interactive shells so they don't source the .bashrc
                  echo "PATH=$PATH" >> $GITHUB_ENV
                  echo "ORION_EXTENSIONS_DIR=$ORION_EXTENSIONS_DIR" >> $GITHUB_ENV
                  bazel run //tools:bazel_env

            - run: bazel test ...
              working-directory: "${{ steps.scaffold.outputs.dir }}"

            - run: format
              working-directory: "${{ steps.scaffold.outputs.dir }}"
              if: "${{ matrix.preset != 'minimal' }}"

            - name: format made no changes
              working-directory: "${{ steps.scaffold.outputs.dir }}"
              run: git diff --exit-code

            - name: User Stories
              working-directory: "${{ steps.scaffold.outputs.dir }}"
              # see https://gist.github.com/bwoods/1c25cb7723a06a076c2152a2781d4d49#running-the-script
              shell: sh
              run: $GITHUB_WORKSPACE/user_stories/${{ matrix.preset}}.md || exit 1

            - name: Python test that fails
              continue-on-error: true # for some reason `bazel test || true` still failing.
              run: bazel test //app:app_test
              working-directory: "${{ steps.scaffold.outputs.dir }}"
              if: "${{ matrix.preset == 'py' }}"

            - name: Check failure is expected
              working-directory: "${{ steps.scaffold.outputs.dir }}"
              if: "${{ matrix.preset == 'py' }}"
              run: grep "FAILED app/app_test.py::test_bad - assert 1 == 2" $(bazel info bazel-testlogs)/app/app_test/test.log

    # For branch protection settings, this job provides a "stable" name that can be used to gate PR merges
    # on "all matrix jobs were successful".
    conclusion:
      needs: test
      runs-on: ubuntu-latest
      if: always()
      steps:
        - uses: technote-space/workflow-conclusion-action@45ce8e0eb155657ab8ccf346ade734257fd196a5 # v3.0.3

        # Note: possible conclusion values:
        # https://github.com/technote-space/workflow-conclusion-action/blob/main/src/constant.ts
        - name: report success
          if: ${{ env.WORKFLOW_CONCLUSION == 'success' }}
          working-directory: /tmp
          run: echo ${{ env.WORKFLOW_CONCLUSION }} && exit 0

        - name: report failure
          if: ${{ env.WORKFLOW_CONCLUSION == 'failure' }}
          working-directory: /tmp
          run: echo ${{ env.WORKFLOW_CONCLUSION }} && exit 1
