on:
    push:
        branches: [main, push_starters]
jobs:
    deliver:
        strategy:
            matrix:
                preset:
                    - apple
                    - cpp
                    - go
                    - java
                    - js
                    - kitchen-sink
                    - kotlin
                    - minimal
                    - py
                    - ruby
                    - rust
                    - shell
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: jaxxstorm/action-install-gh-release@6096f2a2bbfee498ced520b6922ac2c06e990ed2 # v2.1.0
              with:
                repo: hay-kot/scaffold
                tag: v0.12.1
            - name: setting to always run hooks
              if: "${{ matrix.preset != 'minimal' }}"
              run: echo "SCAFFOLD_SETTINGS_RUN_HOOKS=always" >> "$GITHUB_ENV"
            - name: Scaffold new app
              id: scaffold
              run: |
                scaffold new --preset=${{ matrix.preset }} --no-prompt $GITHUB_WORKSPACE
                cd scaffold_test*
                cp $GITHUB_WORKSPACE/user_stories/${{ matrix.preset }}.md README.md
                git init
                git add .
                git config user.email "marvin@aspect.build"
                git config user.name "Marvin, the Aspect bot"
                git commit -a -m "template"
                echo "dir=$PWD" >> $GITHUB_OUTPUT
            - name: Convert preset name to deploy secret name
              id: which-secret
              run: |
                CLEAN="${{ matrix.preset }}"
                CLEAN="${CLEAN//-/_}"       
                echo "secret-name=STARTER_DEPLOY_${CLEAN^^}" >> "$GITHUB_OUTPUT"
            - name: Force-Push to Starter repo
              working-directory: ${{ steps.scaffold.outputs.dir }}
              run: |
                eval $(ssh-agent -s)
                ssh-add - <<< '${{ secrets[steps.which-secret.outputs.secret-name] }}'
                git push  --force git@github.com:bazel-starters/${{ matrix.preset }}.git HEAD:main
        
